<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIER9KZh-vFohSYyrhF0vnodCKZK4Qyg0</string>
	<key>GCM_SENDER_ID</key>
	<string>136906254993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vishwasaraxit.storyVista.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>story-vista-64761</string>
	<key>STORAGE_BUCKET</key>
	<string>story-vista-64761.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136906254993:ios:c52f50b3c74caffabaed30</string>
</dict>
</plist>